## Environment Variables Example, change to .env and fill them to run
VITE_FIREBASE_API_KEY=your_api_key_here
VITE_FIREBASE_AUTH_DOMAIN=your_project_id.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=your_project_id
VITE_FIREBASE_STORAGE_BUCKET=your_project_id.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=your_messaging_sender_id
VITE_FIREBASE_APP_ID=your_app_id

## Google OAuth (use same Client ID as backend GOOGLE_CLIENT_ID)
VITE_GOOGLE_CLIENT_ID=160248899650-t15t4vuug48huk909meof4goa39tlq6i.apps.googleusercontent.com